In [1]:
import numpy as np
import pandas as pd
import datetime
from datetime import datetime

1. Write a Pandas program to create
a) Datetime object for Jan 15 2012.
b) Specific date and time of 9:20 pm.
c) Local date and time.
d) A date without time.
e) Current date.
f) Time from a datetime.
g) Current local time.

In [2]:
print('Datetime object for Jan 15 2012 :' , datetime(2012,1,15))
print('Datetime object for Jan 15 2012 9:20 pm:' , datetime(2012,1,15, 21,20,00))
print('Local date and time:' , datetime.now())
print('Local date :' , datetime.now().date())
print('Time from a datetime :' , datetime.time(datetime(2012,1,15, 21,20,00)))
print('Current local time :' , datetime.now().time())

Datetime object for Jan 15 2012 : 2012-01-15 00:00:00
Datetime object for Jan 15 2012 9:20 pm: 2012-01-15 21:20:00
Local date and time: 2024-03-02 22:41:39.798772
Local date : 2024-03-02
Time from a datetime : 21:20:00
Current local time : 22:41:39.798772

2. Write a Pandas program to create
a) a specific date using timestamp.
b) date and time using timestamp.
c) a time adds in the current local date using timestamp.
d) current date and time using timestamp.

In [3]:
# print(pd.Timestamp(2012,1,15))
print(pd.Timestamp('2012-01-15'))
# print(pd.Timestamp(2012,1,15,21,20,00))
print(pd.Timestamp('2012-01-15 9:20pm'))
print(pd.Timestamp('11:30'))
print(pd.Timestamp('now'))

2012-01-15 00:00:00
2012-01-15 21:20:00
2024-03-02 11:30:00
2024-03-02 22:41:39.811918

3. Write a Pandas program to create a date from a given year, month, day and another date from a given string formats.

In [4]:
date1 = datetime(year=2020, month=12, day=25)
print(date1)

from dateutil  import parser

date2 = parser.parse('2 Jan 2021 1pm GMT')
print(date2)

2020-12-25 00:00:00
2021-01-02 13:00:00+00:00

4. Write a Pandas program to print the day after and before a specified date. Also print the days between two given dates.

In [5]:
today = datetime.now().date()
print(today)

# yday = today - pd.Timedelta('1D')
yday = today - pd.Timedelta(days=1)
print(yday)

# tmrw = today + pd.Timedelta('1D')
tmrw = today + pd.Timedelta(days=1)
print(tmrw)

date1 = pd.Timestamp(2024, 2, 20)
date2 = pd.Timestamp(2024, 2, 29)

print('date diff:', date2-date1)

2024-03-02
2024-03-01
2024-03-03
date diff: 9 days 00:00:00

5. Write a Pandas program to create a time-series with two index labels and random values. Also print the type of the index.

In [6]:
dates = [yday, tmrw]

ts = pd.Series(np.random.rand(2), index=dates)
print(ts)
print(type(ts.index))

2024-03-01    0.028872
2024-03-03    0.110567
dtype: float64
<class 'pandas.core.indexes.base.Index'>

6. Write a Pandas program to create a time-series from a given list of dates as strings.

In [7]:
dates = ['2014-08-01','2014-08-02','2014-08-03','2014-08-04']
ts = pd.Series(np.random.randn(len(dates)), index=dates)
print(ts)

2014-08-01   -0.427472
2014-08-02    0.876912
2014-08-03   -1.866509
2014-08-04   -0.554888
dtype: float64

7. Write a Pandas program to create a time series object that has time indexed data. Also select the dates of same year and select the dates between certain dates.

In [8]:
index = pd.DatetimeIndex(['2011-09-02', '2012-08-04',
                          '2015-09-03', '2010-08-04',
                          '2015-03-03', '2011-08-04',
                          '2015-04-03', '2012-08-04'])
ts = pd.Series(range(0,len(index)), index=index)
print(ts)
print(ts['2015'])
ts.sort_index(inplace=True)
print(ts.loc['2012-01-01':'2012-12-31'])

2011-09-02    0
2012-08-04    1
2015-09-03    2
2010-08-04    3
2015-03-03    4
2011-08-04    5
2015-04-03    6
2012-08-04    7
dtype: int64
2015-09-03    2
2015-03-03    4
2015-04-03    6
dtype: int64
2012-08-04    1
2012-08-04    7
dtype: int64

8. Write a Pandas program to create a date range using a startpoint date and a number of periods.

In [9]:
d_range = pd.date_range('2023-01-01', periods=45, freq='2D')
print(d_range)

DatetimeIndex(['2023-01-01', '2023-01-03', '2023-01-05', '2023-01-07',
               '2023-01-09', '2023-01-11', '2023-01-13', '2023-01-15',
               '2023-01-17', '2023-01-19', '2023-01-21', '2023-01-23',
               '2023-01-25', '2023-01-27', '2023-01-29', '2023-01-31',
               '2023-02-02', '2023-02-04', '2023-02-06', '2023-02-08',
               '2023-02-10', '2023-02-12', '2023-02-14', '2023-02-16',
               '2023-02-18', '2023-02-20', '2023-02-22', '2023-02-24',
               '2023-02-26', '2023-02-28', '2023-03-02', '2023-03-04',
               '2023-03-06', '2023-03-08', '2023-03-10', '2023-03-12',
               '2023-03-14', '2023-03-16', '2023-03-18', '2023-03-20',
               '2023-03-22', '2023-03-24', '2023-03-26', '2023-03-28',
               '2023-03-30'],
              dtype='datetime64[ns]', freq='2D')

9. Write a Pandas program to create a whole month of dates in daily frequencies. Also find the maximum, minimum timestamp and indexs.

In [10]:
month_dates = pd.Series(pd.date_range('2024-01-01', periods=31, freq='D'))
print(month_dates)
print(month_dates.max())
print(month_dates.min())
print(month_dates.idxmin())
print(month_dates.idxmax())

0    2024-01-01
1    2024-01-02
2    2024-01-03
3    2024-01-04
4    2024-01-05
5    2024-01-06
6    2024-01-07
7    2024-01-08
8    2024-01-09
9    2024-01-10
10   2024-01-11
11   2024-01-12
12   2024-01-13
13   2024-01-14
14   2024-01-15
15   2024-01-16
16   2024-01-17
17   2024-01-18
18   2024-01-19
19   2024-01-20
20   2024-01-21
21   2024-01-22
22   2024-01-23
23   2024-01-24
24   2024-01-25
25   2024-01-26
26   2024-01-27
27   2024-01-28
28   2024-01-29
29   2024-01-30
30   2024-01-31
dtype: datetime64[ns]
2024-01-31 00:00:00
2024-01-01 00:00:00
0
30

10. Write a Pandas program to create a time series using three months frequency.

In [11]:
ts = pd.Series(pd.date_range('2024-01-01', periods=36, freq='3M'))
print(ts)

0    2024-01-31
1    2024-04-30
2    2024-07-31
3    2024-10-31
4    2025-01-31
5    2025-04-30
6    2025-07-31
7    2025-10-31
8    2026-01-31
9    2026-04-30
10   2026-07-31
11   2026-10-31
12   2027-01-31
13   2027-04-30
14   2027-07-31
15   2027-10-31
16   2028-01-31
17   2028-04-30
18   2028-07-31
19   2028-10-31
20   2029-01-31
21   2029-04-30
22   2029-07-31
23   2029-10-31
24   2030-01-31
25   2030-04-30
26   2030-07-31
27   2030-10-31
28   2031-01-31
29   2031-04-30
30   2031-07-31
31   2031-10-31
32   2032-01-31
33   2032-04-30
34   2032-07-31
35   2032-10-31
dtype: datetime64[ns]

11. Write a Pandas program to create a sequence of durations increasing by an hour.

In [12]:
d_range = pd.timedelta_range(0, periods=50, freq='H')
print(d_range)

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00', '0 days 08:00:00',
                '0 days 09:00:00', '0 days 10:00:00', '0 days 11:00:00',
                '0 days 12:00:00', '0 days 13:00:00', '0 days 14:00:00',
                '0 days 15:00:00', '0 days 16:00:00', '0 days 17:00:00',
                '0 days 18:00:00', '0 days 19:00:00', '0 days 20:00:00',
                '0 days 21:00:00', '0 days 22:00:00', '0 days 23:00:00',
                '1 days 00:00:00', '1 days 01:00:00', '1 days 02:00:00',
                '1 days 03:00:00', '1 days 04:00:00', '1 days 05:00:00',
                '1 days 06:00:00', '1 days 07:00:00', '1 days 08:00:00',
                '1 days 09:00:00', '1 days 10:00:00', '1 days 11:00:00',
                '1 days 12:00:00', '1 days 13:00:00', '1 days 14:00:00',
                '1 days 15:00:00', '1 days 16:00:00', '1 days 17:00:00',
                '1 days 18:00:00', '1 days 19:00:00', '1 days 20:00:00',
                '1 days 21:00:00', '1 days 22:00:00', '1 days 23:00:00',
                '2 days 00:00:00', '2 days 01:00:00'],
               dtype='timedelta64[ns]', freq='H')

12. Write a Pandas program to convert year and day of year into a single datetime column of a dataframe.

In [13]:
data = {\
"year": [2002, 2003, 2015, 2018],
"day_of_the_year": [250, 365, 1, 140]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
# df['DT'] = df.apply(lambda x:pd.Timestamp(year=x['year'], month=1, day=1) + pd.Timedelta(days=x['day_of_the_year']-1), axis=1)
df['DT'] = pd.to_datetime(df['year'], format='%Y') + df['day_of_the_year'].apply(lambda x: pd.Timedelta(days=x-1))
df

Original DataFrame:
   year  day_of_the_year
0  2002              250
1  2003              365
2  2015                1
3  2018              140

   year  day_of_the_year         DT
0  2002              250 2002-09-07
1  2003              365 2003-12-31
2  2015                1 2015-01-01
3  2018              140 2018-05-20

13. Write a Pandas program to create a series of Timestamps from a DataFrame of integer or string columns. Also create a series of Timestamps using specified columns.

In [14]:
df = pd.DataFrame({'year': [2018, 2019, 2020],
                   'month': [2, 3, 4],
                   'day': [4, 5, 6],
                   'hour': [2, 3, 4]})
print("Original dataframe:")
print(df)

# df['DT'] = df['year'].astype(str)+'-'+df['month'].astype(str)+'-'+df['day'].astype(str)+'-'+df['hour'].astype(str)
# pd.to_datetime(df['DT'], format='%Y-%m-%d-%H')
pd.to_datetime(df)

# pd.to_datetime(df['year'],1,1)

Original dataframe:
   year  month  day  hour
0  2018      2    4     2
1  2019      3    5     3
2  2020      4    6     4

0   2018-02-04 02:00:00
1   2019-03-05 03:00:00
2   2020-04-06 04:00:00
dtype: datetime64[ns]

14. Write a Pandas program to check if a day is a business day (weekday) or not.

In [15]:
def is_business_day(date):
    return bool(len(pd.bdate_range(date, date)))
print("Check busines day or not?")
print('2020-12-01: ',is_business_day('2020-12-01'))
print('2020-12-06: ',is_business_day('2020-12-06'))
print('2020-12-07: ',is_business_day('2020-12-07'))
print('2020-12-08: ',is_business_day('2020-12-08'))

Check busines day or not?
2020-12-01:  True
2020-12-06:  False
2020-12-07:  True
2020-12-08:  True

15. Write a Pandas program to get a time series with the last working days of each month of a specific year.

In [17]:
s = pd.date_range('2021-01-01', periods=12, freq='BM')
df = pd.DataFrame(s, columns=['Date'])
print('last working days of each month of a specific year:')
print(df)

last working days of each month of a specific year:
         Date
0  2021-01-29
1  2021-02-26
2  2021-03-31
3  2021-04-30
4  2021-05-31
5  2021-06-30
6  2021-07-30
7  2021-08-31
8  2021-09-30
9  2021-10-29
10 2021-11-30
11 2021-12-31